.metadata
.idea
.gradle
bin/
build/
target/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

!gradle-wrapper.jar

# External tool builders
.externalToolBuilders/
*.iws
*.iml
.idea_modules/

# Locally stored "Eclipse launch configurations"
*.launch

# Java annotation processor (APT)
.factorypath

# Code Recommenders
.recommenders/

/appstate.json
