<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="test">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>

        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.web.servlet" level="INFO"/>
        <logger name="org.springframework.security.web" level="INFO"/>
        <logger name="org.apache.http" level="INFO"/>
        <logger name="ch.loewenfels" level="DEBUG"/>
    </springProfile>

    <springProfile name="!test">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <springProperty scope="context" name="fileLocation" source="sync.logfile"/>
        <property name="LOG_FILE" value="${fileLocation}"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>

        <logger name="org.springframework" level="INFO"/>
        <!-- set to DEBUG to log HTTP traffic -->
        <logger name="org.apache.http" level="INFO"/>
        <logger name="ch.loewenfels" level="DEBUG"/>
    </springProfile>
</configuration>